.Rproj.user
.Rhistory
.RData
.Ruserdata
Old RDS/
PCS-HTML/
Stage Telemetry/
profiles/
PCS-HTML-GT
WCS-HTML
.Renviron
brms-model-pcdintweight-pcdrider.rds
stages-list-f.rds
YT-Shots/
brms-model-pointsfinish-pcdrider.rds
brms-model-success-pcdrider.rds
brms-model-tmldr-pcdrider.rds
brms-model-win-pcdrider.rds
